<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">K8S
	Client</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
	th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}" />
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
	th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}" />
<link rel="stylesheet" href="assets/dist/css/AdminLTE.min.css"
	th:href="@{/assets/dist/css/AdminLTE.min.css}" />
<link rel="stylesheet" href="assets/custom/main.css"
	th:href="@{/assets/custom/css/main.css}" />
</head>
<body class="hold-transition login-page">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><strong>KUBERNETES</strong>
					ONLINE</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li th:class="${CURRENT_MENU == 'Home'}? 'active' : ''"><a
						th:href="@{/home}">HOME</a></li>
					<li sec:authorize="${isAuthenticated()}"
						th:class="${CURRENT_MENU == 'Projects'}? 'active' : ''"><a
						th:href="@{/projects}">PROJECTS</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li sec:authorize="${!isAuthenticated()}"><a href="#"
						th:href="@{/register}"><i class="fa fa-user"></i> Register</a></li>
					<li sec:authorize="${!isAuthenticated()}"><a href="#"
						th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>
							Login</a></li>
					<li sec:authorize="${isAuthenticated()}"><a href="#"
						th:href="@{/myAccount}"><i class="fa fa-user"></i> <span
							th:text="${#authentication.getPrincipal().getCustomer().getFullName()}"></span></a></li>
					<li sec:authorize="${isAuthenticated()}"><a href="#"
						th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>
							Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div layout:fragment="content">
		<!-- Your Page Content Here -->
	</div>
	<script th:src="@{'/assets/plugins/jQuery/jQuery-2.1.4.min.js'}"></script>
	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>
	<script th:src="@{'/assets/custom/js/confirm.js'}"></script>
</body>
</html>
