.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.main-sidebar, .left-side {
	top: unset;
	padding-top: 0px;
	min-height: unset;
}

.sidebar-menu>li>a {
	padding: 12px 15px;
}

img {
	max-height: 50px;
	max-width: 50px;
}