<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/dashboardLayout}">

<head>
<title>Overview</title>
</head>
<body>
	<div layout:fragment="pageHeader">
		<section class="content-header">
			<h1>Project Overview</h1>
		</section>
	</div>
	<div layout:fragment="content">
		<p>Overview</p>
	</div>

</body>

</html>
