<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">

<head>
<title>404 - Error</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="wrapper row2">
			<div id="container" class="clear">

				<section id="fof" class="clear">

					<div class="hgroup">
						<h1>
							<span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span>
						</h1>
						<h2>
							Error ! <span>Page Not Found</span>
						</h2>
					</div>
					<p>For Some Reason The Page You Requested Could Not Be Found On
						Our Server</p>
					<p>
						<a href="/home">Go Home &raquo;</a>
					</p>
				</section>

			</div>
		</div>
	</div>

</body>

</html>